html {
	background-color: rgb(170, 165, 165);
}

.sidebar {
	height: 100%;
	width: 200px;
	position: absolute;
	background-color: #FFFDD0;
	height: 100%;
}

.main-component {
	margin-left: 250px;
}

.card-div{
	height: 100px;
	margin: 10px;
}

.flex-container{
	display: flex;
}